<ion-view title="2 tudung_i" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/A3M239wpM9c?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="2Tudung_i-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="2Tudung_i-heading1" style="color:#000000;">N7 - LANGSUNG DARI SABAH [29 JAN 2019]</h3>
    <ion-list id="2Tudung_i-list2">
      <ion-item class="item-avatar" id="2Tudung_i-list-item6">
        <img src="img/AAuE7mB8g9oZa3czNcT8L1UW-qpiRroutCD3LxnXxws48-mo-c-c0xffffffff-rj-k-no">
        <h2>beritanasionalrtm rasmi</h2>
        <p>Published on Jan 28, 2019</p>
      </ion-item>
    </ion-list>
    <a ui-sref="tudung_i()" id="2Tudung_i-button2" class="button button-energized button-block">home page</a>
  </ion-content>
</ion-view>