<ion-view title="slider page" hide-nav-bar="true" id="page8">
  <ion-content padding="true" style="background: url(img/go-westmoreland-logo-700w.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="sliderPage-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="sliderPage-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#5F3152;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/go-westmoreland-logo-700w.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide25" style="background-color:#175508;">
        <div>
          <img src="img/9k" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 110px;"></div>
        <a ui-sref="tudung_i()" id="sliderPage-button12" class="button button-positive button-block">enter</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>